@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

$primary-color: #eee;
$secondary-color: #16162d;
$first-gradient-color: #ffe838;
$second-gradient-color: #fd57bf;

@mixin font-kaushan {
  font-family: "Kaushan Script", cursive;
}

@mixin transition-cubic {
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

@mixin transition-ease {
  transition: transform 650ms ease-out;
}

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
/*End animations*/
