.container {
  padding: 0.2em;
}

.container.grid {
  width: 50%;
}
.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.2em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
