@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
}

.habit-count {
  font-size: 2rem;
  color: white;
  background-color: darkseagreen;
  width: 1.5em;
  border-radius: 50%;
  padding: 0.1em 0.2em;
  line-height: 1.25em;
  display: inline-block;
  text-align: center;
  margin-left: 0.2em;
  margin-right: 0.5em;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

nav {
  height: 2em;
  font-size: 2.3em;
  background-color: beige;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

.navbar-logo {
  font-size: 2rem;
  color: darkgreen;
}
