$primary-color: skyblue;
$secondary-color: rgba(255, 111, 97, 1);
$gray-transparent-color: rgba(255, 255, 255, 0.2);
$hover-color: rgba(255, 255, 255, 0.4);
$black-transparent-color: rgba(0, 0, 0, 0.2);
